* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #A0C49D;
}
.wrapper {
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.container {
    width: 100%;
    background-color: #A0C49D;
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(36, 51, 40, 0.5);
    position: relative;
    border-radius: 8px;
    text-align: center;
}
.container:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: #F7FFE5;
    z-index: -1;
    top: -10%;
    left: 10%;
}
.container p {
    color: #F7FFE5;
    line-height: 2;
    font-size: 18px;
    font-style: italic;
}
.container h3 {
    color: #E1ECC8;
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
}
.container button {
    background-color: #AAC8A7;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    box-shadow: 0 10px 45px rgba(36, 51, 40, 0.5);
    font-size: 18px;
    font-weight: 600;
    color: #F7FFE5;
    cursor: pointer;
}